<div class="logo1">
    <img src="sicredi1.png" alt="SicrediLogo" class="logo">
  </div>
  
  <section class="principal">
    <div class="">
      <form action="">
        <h1>Login</h1>
        <div class="formulario__conteudo">
            <input type="text" placeholder="CPF/CNPJ" required>
        </div>
        <div class="formulario__conteudo">
            <input type="password" placeholder="Senha" required>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-2 fw-bold" type="button" onclick="window.location.href='home.html'">Acessar conta</button>
    </form>
    </div>
  </section>
